/*========= All App File Are Include Here ==========*/
@import "app.variables";

/*==== Core Mixins ====*/
@import "mixin";

/*==== Core Utilities =====*/
@import "utilities";

/*===== Custom File =======*/
@import "custom";


.v-card__text {
  padding: 20px 15px;

  h3 {
    padding: 15px;
  }
  .v-text-field {
    margin-top: 0px;
  }
}
